table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

th {
    background-color: lightblue;
}

#formdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

    #formdiv label, button, input {
        margin: 5px;
        padding: 3px;
    }

    #formdiv label {
        font-weight: bolder;
        align-content: center;
    }

#updateformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 10px;
}

    #updateformdiv label, button, input {
    margin: 5px;
    padding: 3px;
}

    #updateformdiv label {
        font-weight: bolder;
        align-content: center;
    }

table button {
    padding: 2px;
    align-content: center;
}
