table {
    width: 100%;
}

th, td {
    border: 0.01px solid;
}

table {
    border-collapse: collapse;
    text-align: center;
    align-content: center;
}

th, td {
    padding: 5px;
}

th {
    background-color: lightblue;
}

#formdiv {
    display: flex;
    flex-direction: column;
}

    #formdiv label, button, input {
        margin: 5px;
        padding: 3px;
    }

    #formdiv label {
        font-weight: bolder;
        align-content: center;
    }

#updateformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 10px;
}

    #updateformdiv label, button, input {
    margin: 5px;
    padding: 3px;
}

    #updateformdiv label {
        font-weight: bolder;
        align-content: center;
    }

table button {
    padding: 2px;
    align-content: center;
}

a:link, a:visited {
    background-color: lightgreen;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: forestgreen;
}
